
<template class="container">
    <div class="header">
        <div onclick=OnClickRun style="width: 130px; height: 30px; padding-left: 20px; padding-top: 8px; font-size: 18px; font-weight: bold; color: #ffffff;">安装新插件</div>
        <div class="close-btn" onclick=CloseWindow></div>
    </div>
    <div class="plugin-list">
        <div v-for="plugin in PluginList" class="plugin-item">
            <div style="display: flex; align-items: center; justify-content: space-between">
                <div style="font-size: 18px;">{{plugin.name}}</div>
                <div v-if="plugin.state == 1" class="button" style="background: url(Texture/Aries/Creator/keepwork/Window/button/btn_huangse_32bits.png#0 0 38 64:16 8 16 8); background-color: #e6e6e6;">已安装</div>
                <div v-if="plugin.state == 0" class="button" onclick="ClickInstallPlugin(plugin)" style="background: url(Texture/Aries/Creator/keepwork/Window/button/btn_huangse_32bits.png#0 0 38 64:16 8 16 8);">安装</div>
            </div>
            <div>{{plugin.desc}}</div>
        </div>
    </div>
</template>

<script type="text/lua">

</script>

<style scoped=true>
.container {
    width: 100%;
    height: 100%;
    background: url(Texture/Aries/Creator/keepwork/Window/dakuang2_32bits.png#0 0 64 69:26 44 24 22);
}

.header {
    height: 39px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.close-btn {
    width: 22px; 
    height: 22px; 
    margin-top: 10px;
    margin-right: 20px; 
    background-color: #ffffff;
    background: url(Texture/Aries/Creator/keepwork/Window/guanbi_32bits.png#0 0 22 22);
}

.close-btn:hover {
    background-color: #e6e6e6;
}

.button {
    width: 120px;
    height: 38px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}

.button:hover {
    background-color: #e6e6e6;
}

.plugin-list {
    position: absolute;
    top: 40px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    overflow-y: auto;
}

.plugin-item {
    padding: 10px;
    border-bottom: 1px solid #cccccc;
}
</style>