<template>
    <div style="position: relative; height:41px; width: 76px; background: url(Texture/Aries/Creator/keepwork/ggs/user/fenshudi_76X41_32bits.png#0 0 76 41);">
        <Number v-bind:number="one" style="position: absolute; left: 10px; top: 5px;"></Number>
        <Number v-bind:number="two" style="position: absolute; left: 22px; top: 5px;"></Number>
        <div v-if="count == 4" style="position: absolute; left: 34px; top: 13px; height:7px; width: 7px; background: url(Texture/Aries/Creator/keepwork/ggs/user/number/dian_7X7_32bits.png#0 0 7 7);"></div>
        <Number v-bind:number="three" style="position: absolute; left: 41px; top: 5px;"></Number>
    </div>
</template>

<script>
RegisterComponent("Number", "%ui%/Component/User/Number.html");

if (self.rate and self.rate > 0) then
    local ratestr = tostring(self.rate or 0);
    echo("--------------------------------------" .. ratestr)
    self.one, self.two, self.three = string.match(ratestr, "(%d?)(%d?)%D?(%d?)");
    self.count = #ratestr;
end



</script>