<template>
    <div style="padding-left:10px; padding-right:20px; height:39px; padding-top: 10px;">
        <div style="float: left; width:128px; height:64px; margin-top:-28px; background: url(Texture/Aries/Creator/keepwork/ggs/user/biaoti_32bits.png);"></div>
        <div style="float: left; margin-left: 220px; margin-top: -3px; width: 86px; height: 32px; background:url(Texture/Aries/Creator/keepwork/ggs/user/btn_qiehuan_32X16_32bits.png#0 0 32 16:10 10 10 5);">
            <div style="display: inline-block; margin-top: 10px; margin-left: 15px; width: 57px; height: 17px; background:url(Texture/Aries/Creator/keepwork/ggs/user/btn_qiehuanzuop_57X17_32bits.png#0 0 57 17);"></div>
        </div>
        <div v-on:click="Close" style="float: right; background:url(Texture/Aries/Creator/keepwork/ggs/dialog/guanbi_32bits.png#0 0 22 22); width:20px; height:20px;"></div>
    </div>
</template>

<script type="text/lua">
function Close() 
    ui:CloseWindow();
end
</script>


<!-- 

-->