<template>
    <div style="margin-top: 11px; margin-left: 9px; height:529px; width: 339px; background:url(Texture/Aries/Creator/keepwork/ggs/user/renwukuang_339X529_32bits.png#0 0 339 529:10 10 10 10);">
        <div style="height: 298px; position: relative;">
            <div style="margin-top: 15px;">
                <div align="center" v-if="not isEditNickName" style="display: inline;">
                    <div style="display: inline;">
                        <div v-if="isCrown" tooltip="Paracraft 会员" style="margin-left:2px; display: inline-block; width:24px; height:24px; background:url(Texture/Aries/Creator/keepwork/UserInfo/crown_32bits.png#0 0 18 18)"></div>
                        <div v-if="not isTeacher and isStudent" tooltip="合作机构vip学员" style="margin-left:2px; display: inline-block; width:24px; height:24px;background:url(Texture/Aries/Creator/keepwork/UserInfo/V_32bits.png#0 0 18 18)"></div>
                        <div v-if="isTeacher" tooltip="合作机构vip教师" style="margin-left:2px; display: inline-block; width:24px; height:24px; background:url(Texture/Aries/Creator/keepwork/UserInfo/blue_v_32bits.png#0 0 18 18)"></div>
                    </div>
                    <div style="display: inline; margin-left: 5px; font-size: 18px; base-font-size: 18px; color: #ffffff; shadow-quality:8; shadow-color:#000000; text-shadow:true;">{{GetNickName(nickname)}}</div>
                    <div v-if="isAuthUser" v-on:click="ClickEditNickName" style="margin-left: 5px; display: inline-block; height:24; width: 24px; background:url(Texture/Aries/Creator/keepwork/ggs/user/btn_bianji_24X24_32bits.png#2 1 26 25);"></div>
                    <Follow v-if="not isAuthUser and isLogin" v-bind:UserDetail="UserDetail" style="display: inline; margin-left: 5px; margin-top:-2px;"></Follow>
                </div>
                <div align="center" v-if="isEditNickName" style="display: inline" >
                    <ChangeNickName v-on:finish="OnEditNickNameFinish" v-bind:userId="UserDetail.id" v-bind:nickname="UserDetail.nickname" style="display: inline;"></ChangeNickName>
                </div>
            </div>
            <pe:mc_player align="center"  v-bind:assetfile="mainasset" miniscenegraphname="AvatarMyselfTabCharacter" style="width:256px; height:256px;" isinteractive="false" LookAtHeight=0.9 CameraObjectDist=5 RenderTargetSize=256></pe:mc_player>
            <div v-if="isAuthUser" v-on:click="ClickPrevAsset" style="position: absolute; left: 70px; top: 160px; height:21px; width: 12px; background:url(Texture/Aries/Creator/keepwork/ggs/user/btn_qiehuanzuo_12X21_32bits.png#0 0 12 21);"></div>
            <div v-if="isAuthUser" v-on:click="ClickNextAsset" style="position: absolute; left: 260px; top: 160px; height:21px; width: 12px; background:url(Texture/Aries/Creator/keepwork/ggs/user/btn_qiehuanyou_12X21_32bits.png#0 0 12 21);"></div>
            <!-- <div v-on:click="ClickPrevRotate" style="position: absolute; left: 70px; top: 230px; height:35px; width: 40px; background:url(Texture/Aries/Creator/keepwork/ggs/user/btn_xuanzhuanzou_40X35_32bits.png#0 0 40 35);"></div> -->
            <!-- <div v-on:click="ClickNextRotate" style="position: absolute; left: 230px; top: 230px; height:35px; width: 40px; background:url(Texture/Aries/Creator/keepwork/ggs/user/btn_xuanzhuanyou_40X35_32bits.png#0 0 40 35);"></div> -->
            <div v-on:click="ClickPersonalPage" style="position: absolute; left: 10px; bottom: 10px; height:38px; width: 40px; background:url(Texture/Aries/Creator/keepwork/ggs/user/btn_gerenwangzhan_38X38_32bits.png#0 0 40 38);"></div>
            <ScaleSlider v-if="isAuthUser" style="position: absolute; left: 10px; top: 40px;"></ScaleSlider>
        </div>
        <div align="center" style="padding-left: 4px; height: 220px; width: 316px;">
            <div style="margin-top: 20px; height: 38px; width: 310px; background-color: #c1c2c2; font-size: 14px; base-font-size: 14px; color: #313131;">
                <div style="display: inline; width: 154px; height:38px;">
                    <div align="center" style="display: inline; height:38px;">
                        <div valign="center" style="display: inline; padding-right: 5px;">{{follow or 0}}</div>
                        <div valign="center" style="display: inline; width:34px; height: 16px; background: url(Texture/Aries/Creator/keepwork/ggs/user/zi_guangzhu_34X16_32bits.png#0 0 34 16);"></div>
                    </div>
                </div>
                <div style="display: inline; width: 1px; height: 38px; background: url(Texture/Aries/Creator/keepwork/ggs/user/fengexian_1X45_32bits.png#0 0 1 45);"></div>
                <div style="display: inline; width: 154px; height:38px;">
                    <div align="center" style="display: inline; height:38px;">
                        <div valign="center" style="display: inline; padding-right: 5px;">{{fans or 0}}</div>
                        <div valign="center" style="display: inline; width:34px; height: 15px; background: url(Texture/Aries/Creator/keepwork/ggs/user/zi_fensi_34X15_32bits.png#0 0 34 15);"></div>
                    </div>
                </div>
            </div>
            <div style="padding-left: 10px; font-size: 14px; base-font-size: 14px; color: #323232;">
                <div style="margin-top: 10px; height: 24px;">
                    <div style="position: relative; width: 70px; height: 24px; display: inline;">
                        <div style="position: absolute; left: 0px; top: 0px; display: inline; width: 70px; height: 24px; background: url(Texture/Aries/Creator/keepwork/ggs/user/wenzidi_70X24_32bits.png#0 0 70 24);"></div>
                        <div style="position: absolute; left: 18px; top: 4px; display: inline; width: 34px; height: 16px; background: url(Texture/Aries/Creator/keepwork/ggs/user/zi_zhanghao_34X16_32bits.png#0 0 34 16);"></div>
                    </div>
                    <div  style="display: inline; padding-left:10px; height: 24px; line-height: 24;">{{username}}</div>
                </div>
                <div style="margin-top: 16px; height: 24px;">
                    <div style="position: relative; width: 70px; height: 24px; display: inline;">
                        <div style="position: absolute; left: 0px; top: 0px; display: inline; width: 70px; height: 24px; background: url(Texture/Aries/Creator/keepwork/ggs/user/wenzidi_70X24_32bits.png#0 0 70 24);"></div>
                        <div style="position: absolute; left: 18px; top: 4px; display: inline; width: 32px; height: 15px; background: url(Texture/Aries/Creator/keepwork/ggs/user/zi_shengri_32X15_32bits.png#0 0 32 15);"></div>
                    </div>
                    <div  style="display: inline; padding-left:10px; height: 24px; line-height: 24;">{{registerAt}}</div>
                </div>
                <div style="margin-top: 16px; height: 24px;">
                    <div style="position: relative; width: 70px; height: 24px; display: inline;">
                        <div style="position: absolute; left: 0px; top: 0px; display: inline; width: 70px; height: 24px; background: url(Texture/Aries/Creator/keepwork/ggs/user/wenzidi_70X24_32bits.png#0 0 70 24);"></div>
                        <div style="position: absolute; left: 18px; top: 4px; display: inline; width: 34px; height: 17px; background: url(Texture/Aries/Creator/keepwork/ggs/user/zi_xuexiao_34X17_32bits.png#0 0 34 17);"></div>
                    </div>
                    <div  style="display: inline; padding-left:10px; height: 24px; line-height: 24;">{{schoolName}}</div>
                </div>
                <div v-if="isAuthUser" style="margin-top: 16px; height: 24px;">
                    <div style="position: relative; width: 70px; height: 24px; display: inline;">
                        <div style="position: absolute; left: 0px; top: 0px; display: inline; width: 70px; height: 24px; background: url(Texture/Aries/Creator/keepwork/ggs/user/wenzidi_70X24_32bits.png#0 0 70 24);"></div>
                        <div style="position: absolute; left: 10px; top: 4px; display: inline; width: 50px; height: 16px; background: url(Texture/Aries/Creator/keepwork/ggs/user/zi_zhishidou_50X16_32bits.png#0 0 50 16);"></div>
                    </div>
                    <div  style="display: inline; padding-left:10px; height: 24px; line-height: 24;">{{bean or 0}}</div>
                </div>
            </div>
        </div>
    </div>    
</template>

<script type="text/lua">
RegisterComponent("ChangeNickName", "%ui%/Component/User/ChangeNickName.html");
RegisterComponent("Follow", "%ui%/Component/User/Follow.html");
RegisterComponent("ScaleSlider", "%ui%/Component/User/ScaleSlider.html");

local UniString = commonlib.gettable("System.Core.UniString");
local KeepWorkItemManager = NPL.load("(gl)script/apps/Aries/Creator/HttpAPI/KeepWorkItemManager.lua");
local KpUserTag = NPL.load("(gl)script/apps/Aries/Creator/Game/mcml/keepwork/KpUserTag.lua");
local assets = {
    "character/CC/02human/paperman/boy01.x",
    "character/CC/02human/paperman/boy02.x",
    "character/CC/02human/paperman/boy03.x",
    "character/CC/02human/paperman/boy04.x",
    "character/CC/02human/paperman/boy05.x",
    "character/CC/02human/paperman/boy06.x",
    "character/CC/02human/paperman/boy07.x",
    "character/CC/02human/paperman/girl01.x",
    "character/CC/02human/paperman/girl02.x",
    "character/CC/02human/paperman/girl03.x",
    "character/CC/02human/paperman/girl04.x",
    "character/CC/02human/paperman/girl05.x",
}
local curAssetIndex = 1;

self.isEditNickName = false;

function OnRefresh()
    local _, _, _, bean = KeepWorkItemManager.HasGSItem(998);
    self.bean = bean or 0;
    self.schoolName = UserDetail.school and UserDetail.school.name or "";
    self.userId = UserDetail.id;
    self.username = UserDetail.username;
    self.nickname = UserDetail.nickname;
    self.isFollow = UserDetail.isFollow or false;
    self.follow = UserDetail.rank.follow or 0;
    self.fans = UserDetail.rank.fans or 0;

    self.isCrown = UserDetail.vip == 1;
    self.isTeacher = UserDetail.tLevel == 1;
    self.isStudent = UserDetail.student == 1;

    -- 格式化注册时间
    local datetime = UserDetail.createdAt;
    local year, month, day = commonlib.timehelp.GetYearMonthDayFromStr(datetime);
    self.registerAt = tostring(year) .. "." .. tostring(month) .. "." .. tostring(day);
end

function ClickEditNickName()
    self.isEditNickName = not self.isEditNickName;
end

function OnEditNickNameFinish(nickname)
    UserDetail.nickname = nickname;
    self.isEditNickName = false;
end 

-- 获取昵称
function GetNickName(text)
    if type(text) ~= 'string' then return '' end
    local utf8Text = UniString:new(text)
    if _guihelper.GetTextWidth(text) > 112 then
        return utf8Text:sub(1, 8).text .. '...'
    else
        return text
    end
end

function ClickPrevAsset()
    if (curAssetIndex == 1) then 
        curAssetIndex = #assets;
    else
        curAssetIndex = curAssetIndex - 1;
    end 
    mainasset = assets[curAssetIndex];
    GameLogic.GetPlayerController():GetPlayer():SetMainAssetPath(mainasset);
end

function ClickNextAsset()
    if (curAssetIndex == #assets) then
        curAssetIndex = 1;
    else
        curAssetIndex = curAssetIndex + 1;
    end 
    mainasset = assets[curAssetIndex];
    GameLogic.GetPlayerController():GetPlayer():SetMainAssetPath(mainasset);
end

function ClickPrevRotate()
end 

function ClickNextRotate()
end

function ClickPersonalPage()
    ParaGlobal.ShellExecute("open", "https://keepwork.com/u/" .. UserDetail.username, "", "", 1);
end
</script>