<template>
    <scrollarea ref="scrollarea" style="width: 604px; height: 540px; padding-left: 6px; padding-top: 6px;">
        <div v-for="project in ProjectList" class="project">
            <div v-bind:style="GetImageStyle(project.extra)"></div>
            <div style="base-font-size: 16px; font-size:16px; color: #000000; margin-top: 10px; margin-left:10px; height: 16px; line-height: 16px;">{{GetProjectName(project.name)}}</div>
            <div style="base-font-size: 12px; font-size:12px; color: #999999; margin-top: 10px; margin-left:8px; height: 12px; line-height: 12px;">{{GetCreateTime(project.createdAt)}}</div>
            <div style="margin-top: 12px; margin-left: 8px; base-font-size: 12px; font-size:12px; color: #999999; ">
                <div style="display:inline; height: 16px;">
                    <div valign="center" style="display:inline; width: 16px; height: 12px; background: url(Texture/Aries/Creator/keepwork/ggs/user/icon_liulan_16X12_32bits.png#0 0 16 12);"></div>
                    <div style="display:inline; line-height: 16px; height: 16px; padding-left: 5px; padding-right: 5px;">{{project.visit or 0}}</div>
                </div>
                <div style="display:inline; height: 16px;">
                    <div style="display:inline; width: 16px; height: 16px; background: url(Texture/Aries/Creator/keepwork/ggs/user/icon_dianzan_16X16_32bits.png#0 0 16 16);"></div>
                    <div style="display:inline; line-height: 16px; height: 16px; padding-left: 5px; padding-right: 5px;">{{project.star or 0}}</div>
                </div>
                <div style="display:inline; height: 16px;">
                    <div style="display:inline; width: 18px; height: 16px; background: url(Texture/Aries/Creator/keepwork/ggs/user/icon_xinxi_18X16_32bits.png#0 0 18 16);"></div>
                    <div style="display:inline; line-height: 16px; height: 16px; padding-left: 5px; padding-right: 5px;">{{project.comment or 0}}</div>
                </div>
            </div>
            <div style="margin-top: 10px; width: 250px;">
                <div style="float: right;">
                    <div v-on:click="ClickOpenWorld(project.id)" class="inline" style="width: 36px; height: 36px; background: url(Texture/Aries/Creator/keepwork/ggs/user/btn_jingru_40X40_32bits.png#0 0 40 40);"></div>
                </div>
            </div>
            <Rate v-if="project.rate and project.rate > 0" style="position: absolute; left: 0px;" v-bind:rate="project.rate"></Rate>
            <div v-if="project.visibility == 1" style="position: absolute; top: 5px; right: 5px; width: 28px; height: 31px; background: url(Texture/Aries/Creator/keepwork/ggs/user/suosi_28X31_32bits.png#0 0 28 31);"></div>
        </div>

    </scrollarea>
</template>

<script type="text/lua">
RegisterComponent("Rate", "%ui%/Component/User/Rate.html");
local UniString = commonlib.gettable("System.Core.UniString");
ProjectList = ProjectList or {};

function GetImageStyle(extra)
    local url = extra and extra.imageUrl or "https://keepwork.com/public/img/project_default_cover_new.af774e7d.png"; 
    return string.format("width: 264px; height: 134px; background: url(%s);", url);
end

function GetProjectName(text)
    if type(text) ~= 'string' then
        return ''
    end

    local utf8Text = UniString:new(text)

    if _guihelper.GetTextWidth(text) > 112 then
        return utf8Text:sub(1, 8).text .. '...'
    else
        return text
    end
end

function GetCreateTime(datetime)
    local datestr, timestr = string.match(datetime, "(%d+%D%d+%D%d+)%D*(%d+%D%d+)");
    return datestr .. " " .. timestr;
end

-- 点击打开世界
function ClickOpenWorld(worldId)
    ui:CloseWindow();
    GameLogic.RunCommand(string.format("/loadworld %d", worldId));    
end

function OnRefresh()
    local scrollarea = GetRef("scrollarea");
    local scrollareaCtrl = scrollarea and scrollarea:GetControl();
    if (scrollareaCtrl) then
        local vbar = scrollareaCtrl and scrollareaCtrl.vbar;
        local hbar = scrollareaCtrl and scrollareaCtrl.hbar;
        vbar:SetShowButton(false);
        vbar:SetGrooveBackgroundColor("#ffffff00");
        vbar:SetMinSliderHeight(38);
        vbar:SetSliderBackground("Texture/Aries/Creator/keepwork/ggs/dialog/xiala_12X38_32bits.png#0 0 12 38:2 15 2 15");
    end
end
</script>

<style type="text/css">  
.project {
    position: relative;
    display: inline-block; 
    margin:3px; 
    padding: 10px; 
    padding-top: 8px; 
    padding-bottom: 9px; 
    color:white;
    width: 284px;
    height: 274px;
    background: url(Texture/Aries/Creator/keepwork/ggs/user/zuopkuang_32X32_32bits.png#0 0 32 32:14 14 14 14);
}
</style>

<!-- background: url(Texture/Aries/Creator/keepwork/ggs/user/zuopkuang_32X32_32bits.png#0 0 32 32:14 14 14 14); -->