<pe:mcml>
<script refresh="false" type="text/npl"><![CDATA[
    function OnClickOK()
        local content = Page:GetValue("content") or "";
        _guihelper.MessageBox("你输入的是:"..content);
    end
]]>
</script>
<div style="color:#33ff33;background-color:#808080; width: 500px; height: 400px">
    <pe:component style="background-color: #ff0000; height: 200px;">
        <div v-slot="default">slot content</div>
    </pe:component>
    <div>Hello World from HTML page!</div>
</div>
</pe:mcml>

<!-- 


-->