<pe:mcml>
<script refresh="false" type="text/npl"><![CDATA[
    function OnClickOK()
        local content = Page:GetValue("content") or "";
        _guihelper.MessageBox("你输入的是:"..content);
    end
]]>
</script>
<div style="color:#33ff33;background-color:#808080; width: 500px; height: 400px">
    <pe:component style="background-color: #ff0000; height: 200px;">
        <div v-slot="default">slot content</div>
    </pe:component>
    <div>
        <div style="float:left">
            <div style="width:18px;height:18px;background:url(Texture/Aries/Creator/keepwork/UserInfo/crown_32bits.png#0 0 18 18)"></div>
        </div>
        <!-- <div style="float:left;margin-left:2px;">
            <img tooltip="<%=L('合作机构vip学员')%>" style="width:18px;height:18px;background:url(Texture/Aries/Creator/keepwork/UserInfo/V_32bits.png#0 0 18 18)"/>
        </div> -->
        <div style="float:left;margin-left:2px;">
            <img tooltip="<%=L('合作机构vip教师')%>" style="width:18px;height:18px;background:url(Texture/Aries/Creator/keepwork/UserInfo/blue_v_32bits.png#0 0 18 18)"/>
        </div>
        <div>Hello World from HTML page1!</div>
    </div>
</div>
</pe:mcml>

<!-- 


-->