
<template height="100%" style="color:#ffffff; background: url(Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#267 89 34 34:8 8 8 8);">
    <WindowTitleBar></WindowTitleBar>
    <scrollarea style="width: 420px; height: 380px;">
        <div v-for="x in size" class="item">{{x}}</div>
    </scrollarea>
    <button v-on:click="click">刷新</button>
</template>

<script type="text/lua">
size = 4;

function click()
    size = size + 1;
end
</script>

<style>
.item {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-top: 10px;
}
</style>


<!-- 
-- 设置窗口高度
-- ui:SetWindowSize({width = 960, height = 600});
<script>

    <div>{{count}}</div>
    <button v-on:click="click">OK</button>

</script>
 -->
<!-- 
    <WindowTitleBar title="用户信息"></WindowTitleBar>
    <div v-for="x in 3" v-on:click="click(x)">{{x}}</div>
    <UserInfo v-bind:UserDetail="UserDetail" style="float: left;"></UserInfo>


ui:SetWindowSize({width = 880, height = 584});
RegisterComponent("UserInfo", "Mod/GeneralGameServerMod/App/ui/Component/UserInfo.html");
RegisterComponent("WorksList", "Mod/GeneralGameServerMod/App/ui/Component/WorksList.html");
-->