<template class="container">
    <div style="position: absolute; left: 0px; top: 0px; height: 40px; width: 100%; z-index: 2; display: flex; justify-content: space-between; align-items: center;">
        <div style="display: flex;">
            <div onclick="SetContentType('block')" class="header-btn" v-bind:style="GetHeaderBtnStyle('block')">定制图块</div>
            <div onclick="SetContentType('blockly')" class="header-btn" v-bind:style="GetHeaderBtnStyle('blockly')">定制图块编辑器</div>

            <select v-bind:options=LangOptions v-model=CurrentLang placeholder="选择图块类别" onselect=OnSelectLang style="width: 160px; margin-left: 60px;"></select>
            <div onclick=ClickSaveBlockBtn class="btn" style="width: 60px; height: 30px; color: #cccccc; margin-left: 10px;">保存</div>
        </div>
        <div onclick=CloseWindow class="close-btn btn"></div>
    </div>
    <div v-show="ContentType == 'block'" style="position: absolute; left: 2px; top: 40px; right: 2px; bottom: 2px; z-index: 1;">
        <Blockly ref="BlocklyEditor" class="blockly-editor" language="block" onchange=OnBlocklyEditorChange></Blockly>
        <Blockly readonly=true ref="BlocklyPreview" class="blockly-preview" isHideToolBox=true isHideIcons="true"></Blockly>
        <div class="tab">
            <div class="tab-nav-item" onclick="ClickTabNavItemBtn('block')" v-bind:style="GetTabNavItemStyle('block')">图块</div>
            <div class="tab-nav-item" onclick="ClickTabNavItemBtn('category')" v-bind:style="GetTabNavItemStyle('category')">分类</div>
            <div class="tab-nav-item" onclick="ClickTabNavItemBtn('code')" v-bind:style="GetTabNavItemStyle('code')">代码</div>
        </div>
        <div v-show="TabIndex == 'block'" class="tab-pane">
            <!-- <div style="position: absolute; left: 0px; top: 4px; right: 0px; z-index: 2; display: flex; align-items: center; justify-content: center; height: 40px;">
                <select v-bind:value="BlockType" style="width: 180px;" placeholder="图块类型" v-bind:options="BlockOptions" onselect=SelectBlock></select>
                <div onclick=ClickSaveBlockBtn class="btn" style="width: 80; height: 30px; background-color: #cccccc;">保存</div>
                <div onclick=ClickDeleteBlockBtn class="btn" style="width: 80px; height: 30px;">删除</div>
            </div> -->
            <div style="position: absolute; z-index: 1; top: 10px; bottom: 0px; left: 0px; right: 0px; overflow-y: scroll;">
                <div v-for="block in AllBlockList" style="display: flex; align-items: center; justify-content: space-between; height: 30px;">
                    <div style="display: flex;">
                        <div style="margin-left: 8px; width: 200px; text-wrap: none; text-overflow: ellipsis;">{{block.type}}</div>
                        <div style="width: 60px;">{{block.category}}</div>
                    </div>
                    <div style="display: flex;">
                        <div onclick="ClickEditBlockBtn(block.type)" class="btn" style="width: 60px; height: 20px;">编辑</div>
                        <div onclick="ClickDeleteBlockBtn(block.type)" class="btn" style="width: 60px; height: 20px;">移除</div>
                    </div>
                </div>
            </div>
        </div>
        <div v-show="TabIndex == 'category'" class="tab-pane">
            <div style="display: flex; align-items: center; justify-content: center; height: 40px; width: 100%;">
                <div style="margin-top: 8px;">编辑分类</div>
                <input v-model="Category.name" style="margin-left: 10px" placeholder="分类名"></input>
                <input v-model="Category.color" style="margin-left: 10px;" placeholder="分类颜色值"></input>
                <div onclick=ClickEditCategoryBtn class="btn" style="width: 40px; height: 30px; margin-left:10px;">确定</div>
            </div>
            <div style="position: absolute; top: 50px; bottom: 0px; left: 0px; right: 0px; overflow-y: scroll;">
                <div v-for="category in AllCategoryList" style="display: flex; align-items: center; justify-content: space-between; height: 30px;">
                    <div style="display: flex; margin-left: 16px;">
                        <div v-bind:style="GetCategoryColorStyle(category)"></div>
                        <div style="width: 80px; margin-left: 12px;">{{category.text or category.name}}</div>
                    </div>
                    <div style="display: flex;">
                        <!-- <div onclick="ClickDeleteCategoryBtn(category.name)" class="btn" style="width: 60px; height: 20px;">编辑</div> -->
                        <div onclick="ClickDeleteCategoryBtn(category.name)" class="btn" style="width: 60px; height: 20px;">移除</div>
                    </div>
                </div>
            </div>
        </div>
        <div v-show="TabIndex == 'code'" class="tab-pane">
            <textarea v-model="BlockDefineCode" style="width: 100%; height: 100%;" readonly=true></textarea>
        </div>
    </div>
    <div v-show="ContentType == 'blockly'" style="position: absolute; left: 2px; top: 40px; right: 2px; bottom: 2px;">
        <Blockly ref="Blockly" class="blockly-editor" onchange=OnBlocklyChange></Blockly>
        <div style="position: absolute; left: 802px; top: 0px; right: 0px; bottom: 0px;">
            <textarea v-bind:value="BlocklyCode" readonly=true style="width: 100%; height: 100%; background-color: #cccccc;"></textarea>
        </div>
    </div>
</template>

<script type="text/lua">
RegisterComponent("WindowTitleBar", "%vue%/Components/WindowTitleBar.html");
local BlockManager = NPL.load("Mod/GeneralGameServerMod/UI/Blockly/Blocks/BlockManager.lua").StaticInit();
local Page = NPL.load("Mod/GeneralGameServerMod/UI/Page.lua");
local Blockly = nil;
local BlocklyEditor = nil;
local BlocklyPreview = nil;
local BlockOption = {};
LangOptions = {{"定制世界图块", "CustomWorldBlock"}, {"系统 NPL 图块", "SystemNplBlock"}, {"系统 Lua 图块", "SystemLuaBlock"}};
CurrentLang = "CustomWorldBlock";
TabIndex = "block";
ContentType = "block"; -- block blockly
BlocklyCode = "";
BlockType = "";
BlockDefineCode = "";
BlockOptions = {};
AllCategoryList, AllBlockList = {}, {};
Category = {name = "", color = "#ffffff"};

local function SortAllBlockList()
    table.sort(AllBlockList, function(block1, block2)
        return block1.category == block2.category and (block1.type < block2.type) or (block1.category < block2.category);
    end)
    return AllBlockList;
end

local function InitData()
    local AllCategoryMap = BlockManager.GetLanguageCategoryMap();
    local AllBlockMap = BlockManager.GetLanguageBlockMap();
    AllCategoryList, AllBlockList = {}, {};
    for _, category in pairs(AllCategoryMap) do
        table.insert(AllCategoryList, {name = category.name, text = category.text, color = category.color or "#ffffff"});
    end

    for _, block in pairs(AllBlockMap) do
        table.insert(AllBlockList, {type = block.type, category = block.category});
    end
    SortAllBlockList();
end

function OnSelectLang()
    if (CurrentLang == "SystemNplBlock") then
        BlockManager.SetCurrentCategoryAndBlockPath("Mod/GeneralGameServerMod/UI/Blockly/Blocks/SystemNplBlock");
    elseif (CurrentLang == "SystemLuaBlock") then 
        BlockManager.SetCurrentCategoryAndBlockPath("Mod/GeneralGameServerMod/UI/Blockly/Blocks/SystemLuaBlock");
    else
        BlockManager.SetCurrentCategoryAndBlockPath(nil);
    end
    InitData();
end

function ClickTabNavItemBtn(tabindex)
    TabIndex = tabindex;
end 

function GetTabNavItemStyle(tabindex)
    return TabIndex == tabindex and "color: #ffffff;" or "";
end

function GetCategoryColorStyle(category)
    return string.format([[width: 20px; height: 20px; background-color: %s; border-radius: 10px; padding: 0px 10px;]], category.color);
end

function ClickEditCategoryBtn()
    if (Category.name == "") then return end
    AllCategoryMap[Category.name] = AllCategoryMap[Category.name] or {name = Category.name, color = Category.color};    
    local isExist = false;
    for _, category in ipairs(AllCategoryList) do 
        if (category.name == Category.name) then 
            category.color = Category.color or category.color; 
            isExist = true;
            break;
        end 
    end
    if (not isExist) then table.insert(AllCategoryList, {name = Category.name, color = Category.color}) end 
end

function ClickDeleteCategoryBtn(categoryName)
    AllCategoryMap[categoryName] = nil;
    for i, category in ipairs(AllCategoryList) do 
        if (category.name == categoryName) then
            table.remove(AllCategoryList, i);
        end
    end
    BlockManager.SaveCategoryAndBlock();
end

function OnReady()
    OnSelectLang();

    Blockly = GetRef("Blockly");
    BlocklyEditor = GetRef("BlocklyEditor");
    BlocklyPreview = GetRef("BlocklyPreview");
    OnBlocklyEditorChange();
end

function SetContentType(contentType)
    ContentType = contentType;
    if (ContentType == "blockly" and Blockly) then
        Blockly:OnAttrValueChange("type", "custom");
    end
end

function GetHeaderBtnStyle(contentType)
    if (ContentType == contentType) then return "border-bottom: 1px solid #ffffff" end
    return "";
end

local function EditBlock(blockType)
    if (BlockType == blockType) then return end
    BlockType = blockType;
    local AllBlockMap = BlockManager.GetLanguageBlockMap();
    LoadBlockXmlText(AllBlockMap[BlockType]);
    OnBlocklyEditorChange();
end 

function SelectBlock(blockType)
    EditBlock(blockType);
end 

function ClickSaveBlockBtn()
    BlockOption.xml_text = BlocklyEditor:SaveToXmlNodeText();
    if (BlockType == "") then return end
    local isExist = false;
    for i, opt in ipairs(AllBlockList) do
        if (opt.type == BlockType) then
            isExist = true;
            break;
        end
    end 
    if (not isExist) then
        table.insert(AllBlockList, {type = BlockOption.type, category = BlockOption.category});
    end
    BlockManager.NewBlock(BlockOption);
    GameLogic.AddBBS("Blockly", "图块更改已保存");
    SortAllBlockList();
end

function ClickDeleteBlockBtn(blocktype)
    blocktype = blocktype or BlockType;
    if (blocktype == "") then return end
    for i, block in ipairs(AllBlockList) do 
        if (block.type == blocktype) then
            table.remove(AllBlockList, i);
            break;
        end
    end
    BlockManager.DeleteBlock(blocktype);
    BlockType = "";
    BlocklyEditor:Reset();
    OnBlocklyEditorChange();
end

function ClickEditBlockBtn(blockType)
    EditBlock(blockType);
end

function LoadBlockXmlText(block)
    if (not block or not block.xml_text) then return end
    BlocklyEditor:LoadFromXmlNodeText(block.xml_text);
end

function GenerateBlockOption()
    local rawcode, prettycode = BlocklyEditor:GetCode();
    local prettycode = string.gsub(prettycode, "\t", "    ");
    local G = {message = "", arg = {}, field_count = 0, type="", category = "图块", color = "#2E9BEF", output = false, previousStatement = true, nextStatement = true, connections = {}};
    <!-- print(prettycode) -->
    local func, errmsg = loadstring(prettycode);
    if (not func) then
        print("============================loadstring error==========================", errmsg);
        print(prettycode)
        return nil;
    end
    setfenv(func, G);
    <!-- func(); -->
    local isError = false;
    xpcall(function()
        func();
    end, function(errinfo) 
        print("ERROR:", errinfo);
        DebugStack();
        isError = true;
    end);
    if (isError) then return nil end 

    G.message = string.gsub(G.message, "^ ", "");
    
    local connections = G.connections;
    G.connections = nil;
    if (connections.output and connections.output ~= "") then G.output = connections.output end
    if (connections.previousStatement and connections.previousStatement ~= "") then G.previousStatement = connections.previousStatement end
    if (connections.nextStatement and connections.nextStatement ~= "") then G.nextStatement = connections.nextStatement end
    for _, arg in ipairs(G.arg) do
        if (arg.type == "input_value" or arg.type == "input_statement") then
            local argname = arg.name;
            if (connections[argname] and connections[argname] ~= "") then 
                arg.check = connections[argname];
            end
        end
    end 

    <!-- echo(G, true) -->

    return G;
end

function PreviewBlockOption(blockOption)
    BlocklyPreview:DefineBlock(blockOption);
    local block = BlocklyPreview:GetBlockInstanceByType(blockOption.type);
    BlocklyPreview:ClearBlocks();
    block:SetLeftTopUnitCount(10, 10);
    block:UpdateLayout();
    BlocklyPreview:AddBlock(block);
end

function GenerateBlockDefineCode(option)
    local indent = "        ";
    local arg_var_define = indent .. "local args = {};\n";

    for i, arg in ipairs(option.arg) do
        if (arg.type == "input_value" or arg.type == "input_statement") then
            arg_var_define = arg_var_define .. string.format('%sargs["%s"] = block:GetValueAsString("%s");\n', indent, arg.name, arg.name);
        else
            arg_var_define = arg_var_define .. string.format('%sargs["%s"] = block:GetFieldValue("%s");\n', indent, arg.name, arg.name);
        end
    end 

    local code_description = option.code_description or "";
    code_description = string.gsub(code_description, "\n+$", "");
    code_description = string.gsub(code_description, "^\n+", "");
    if (option.output) then
        code_description = "[====[" .. code_description .. "]====]";
    else
        code_description = "[====[\n" .. code_description .. "\n]====]";
    end
    
    local func_description = string.gsub(code_description, "%$(%w+)", "%%s");
    local block_define_code = string.format([[
{
    type = "%s",
    category = "%s",
    color = "%s",
    output = %s,
    previousStatement = %s, 
    nextStatement = %s,
    message = "%s",
    %s,
    ToCode = function(block)
%s
        -- 更改下行为图块实际生成代码
        return string.gsub(%s, "%%$([%%w_]+)", args); 
    end
}]], option.type, option.category, option.color, option.output, option.previousStatement, option.nextStatement, option.message, 
    commonlib.dump(option.arg, "arg", false, 2), arg_var_define, code_description);

    return block_define_code;
end

function OnBlocklyEditorChange()
    local option = GenerateBlockOption();
    if (not option) then return end
    BlockOption = option;
    BlockDefineCode = GenerateBlockDefineCode(BlockOption);
    PreviewBlockOption(BlockOption);
    local AllBlockMap = BlockManager.GetLanguageBlockMap();
    if (BlockOption.type ~= BlockType) then
        BlockType = BlockOption.type;
        if (AllBlockMap[BlockOption.type]) then
            Page.ShowMessageBoxPage({
                text = string.format("图块 %s 已经存在, 是否加载已有信息?", BlockOption.type),
                confirm = function()
                    LoadBlockXmlText(AllBlockMap[BlockOption.type]);
                end,
            });
        end
    end
end

function OnBlocklyChange()
    if (not Blockly) then return end
    local rawcode, prettycode = Blockly:GetCode();
    BlocklyCode = string.gsub(prettycode, "\t", "    ");
end

</script>

<style scoped=true>
.container {
    width: 1200px;
    height: 800px;
    background-color: #191C13;
    /* background: url(Texture/Aries/Creator/keepwork/Window/dakuang2_32bits.png#0 0 64 69:26 44 24 22); */
}

.header-btn {
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    color: #e6e6e6;
}
.header-btn:hover {
    color: #ffffff;
}

.close-btn {
    margin-top: 5px;
    margin-right: 20px;
    width: 22px; 
    height: 22px; 
    background-color: #e6e6e6;
    background: url(Texture/Aries/Creator/keepwork/ggs/dialog/guanbi_22X22_32bits.png#0 0 22 22);
}

.blockly-editor {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 800;
    bottom: 0px;
}

.blockly-preview {
    position: absolute;
    left: 802px;
    top: 0px;
    right: 0px;
    height: 200px;
}

.tab {
    position: absolute;
    left: 802px;
    right: 0px;
    top: 202px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #c8c8c8;
    border-bottom: 1px solid #ffffff;
}

.tab-nav-item {
    margin-left: 10px;
}

.tab-pane {
    position: absolute;
    left: 802px;
    top: 232px;
    right: 0px;
    bottom: 0px;
    background-color: #c8c8c8;
    padding: 8px 4px;
}

.block-form {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100px;
    background-color: #c8c8c8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
</style>