<template>
    <!-- 左侧用户信息 -->
    <div style="float: left; width: 234px; color: white;">
        <div style="margin-left: -11px;">
            <pe:mc_player name="player" miniscenegraphname="AvatarMyselfTabCharacter" style="width:256px; height:256px;" isinteractive="false" />
        </div>
        <div style="color:white; text-align: center; font-size: 24px;">{{username}}</div>
        <div style="margin-top:16px; text-align: center; font-size: 16px; color: #969696;">{{registerAt}}</div>
        <div style="margin-top: 60px; margin: 25px; ">
            <div style="float: left; width: 68px; text-align: center; width: 92px;">
                <div style="font-size: 18px; color: #236dd7;">{{follow}}</div>
                <div style="font-size: 14px; color: #3d649b;">关注</div>
            </div>
            <div style="float: left; width: 68px; text-align: center; width: 92px;">
                <div style="font-size: 18px; color: #236dd7;">{{fans}}</div>
                <div style="font-size: 14px; color: #3d649b;">粉丝</div>
            </div>
        </div>
        <button v-on:click="ClickFollow" align="center" style="margin-top: 37px; width: 184px; height: 40px; text-align: center; font-size: 16px; base-font-size: 16px; padding-top: 10px;">关注</button>
    </div>
    <div style="float: left; width: 1px; height: 546px; margin-left: 0px; margin-top: 0px; background-color: #b7b2b2;"></div>
</template>

<script type="text/lua">

UserDetail = UserDetail or {rank = {}, createdAt = "2020-01-01"}

self.userId = UserDetail.id;
self.username = UserDetail.username;
self.isFollow = UserDetail.isFollow or false;
self.follow = UserDetail.rank.follow or 0;
self.fans = UserDetail.rank.fans or 0;
-- 格式化注册时间
local datetime = UserDetail.createdAt;
local year, month, day = commonlib.timehelp.GetYearMonthDayFromStr(datetime);
self.registerAt = tostring(year) .. "年" .. tostring(month) .. "月" .. tostring(day) .. "日加入帕拉卡";

echo("============================")
-- 点击关注
function ClickFollow()
    echo("--------------------");
    -- if (not GetUserInfo():IsSignedIn()) then  return echo("未登录"); end
    if (self.isFollow) then
        self.fans = self.fans - 1;
        keepwork.user.unfollow({
            objectType = 0,
            objectId = self.userId,
        }, function(status, msg, data)
            -- self.fans = self.fans - 1;
        end);
    else
        self.fans = self.fans + 1;
        keepwork.user.unfollow({
            objectType = 0,
            objectId = self.userId,
        }, function(status, msg, data)
            -- self.fans = self.fans + 1;
        end);
    end
    self.isFollow = not self.isFollow;
    ui:RefreshWindow();
end

function OnRefresh()
    echo("----------------OnRefresh------------------");
end

</script>
