<template>
    <scrollarea style="width: 644px; height: 546px; padding: 3px;">
        <div v-for="x in 10" style="display: inline; margin: 8px; padding: 10px; width: 190px; height: 244px; background-color: #2c2f32; color:white;">
            <div style="width: 170px; height: 104px; background: url(%https://keepwork.com/public/img/project_default_cover_new.af774e7d.png);"></div>
            <div style="font-weight:bold; font-size:14px; margin-top: 12px;">test</div>
            <div style="font-size:12px; color: #717171;margin-top: 5px;">创建时间: test</div>
            <div style="font-size:12px; color: #717171;margin-top: 5px;">上次更新: test</div>
            <button  type="button" style="margin-top: 12px; width: 170px; height: 25px; font-size: 8px;">访问世界</button>
        </div>
    </scrollarea>
</template>

<script>
    ExportScope({
        list = {
            {

            }
        }
    })
</script>